{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <header>
        <h1 class="title-bar">Online Auction</h1>
        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#contact">Contact Us</a>
            <a href="#about">About</a>
            <a href="#product">Product</a>
            <a href="#add-item">Add-Item</a>
            <a href="#login" class="login">Login/Sign Up</a>
        </div>
        <br>
        <div class="search-box">
            <input type="text" placeholder="Search for items..." />
            <button type="submit">Search</button>
        </div>
        </header>
        <main>
        </main>


        <div class="footer">
            <a href="#about">About</a>
            <a href="#product">Product</a>
            <a href="#contact">Contact Us</a>
            <a href="#privacy">Privacy Policy</a>
            <a href="#terms">Terms of Service</a>
        </div>
    </body>
</html>
