
{% extends 'base.html' %}

{% block title %}Login - Online Auction{% endblock %}

{% block content %}
<div class="container mt-5 py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow border-0 p-5 rounded">
        <h2 class="text-center text-primary fw-bold mb-3 fs-4">Login to Online Auction</h2>
        <form method="post">
          {% csrf_token %}
          
          {% if error %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          {% endif %}
          
          <div class="mb-4">
            <label for="username" class="form-label fs-5">Username</label>
            <input type="text" id="username" name="username" class="form-control form-control-lg rounded-3" required>
          </div>
          <div class="mb-4">
            <label for="password" class="form-label fs-5">Password</label>
            <input type="password" id="password" name="password" class="form-control form-control-lg rounded-3" required>
          </div>
          <button type="submit" class="btn btn-primary w-100 fw-semibold fs-6">Login</button>
        </form>
        
        <div class="mt-3 text-center">
           <a href="{% url 'request_reset_otp' %}" class="text-decoration-none">Forgot Password?</a><br>
          <p>Don't have an account? <a href="{% url 'register' %}" class="text-decoration-none">Register</a></p>
        </div>

        
        <div class="text-center mt-3">
          <a href="{% url 'home' %}" class="btn btn-secondary w-100 fw-semibold fs-6">Go to Home</a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
