{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions, or feedback, we'd love to hear from you!</p>
    <ul class="list-unstyled">
        <li><strong>Email:</strong> auction.online07@gmail.com</li>
        <li><strong>Phone:</strong> 98000000</li>
        <li><strong>Address:</strong> Phirke, Pokhara-8</li>
    </ul>

    
    <div class="mt-5">
        <h4>Send Us Feedback</h4>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
        {{ form|crispy }}
            {% comment %} <div class="mb-3">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="mb-3">
                {{ form.message.label_tag }}
                {{ form.message }}
            </div> {% endcomment %}
            <button type="submit" class="btn btn-primary">Submit Feedback</button>
        </form>
    </div>
   


    <div class="mt-4 mb-5">
        <h4>Our Location</h4>
        <div class="ratio ratio-16x9">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.5913872230146!2d83.98569317529318!3d28.22911687591814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995944117ec7981%3A0x5fc2b12a83d89f63!2sPokhara%20Engineering%20College!5e0!3m2!1sen!2snp!4v1718194466949!5m2!1sen!2snp" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
     <div class="mt-4">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/your-page" target="_blank" class="me-3">
            <i class="fab fa-facebook fa-lg"></i> Facebook
        </a>
        <a href="https://www.instagram.com/your-profile" target="_blank" class="me-3">
            <i class="fab fa-instagram fa-lg"></i> Instagram
        </a>
        <a href="https://twitter.com/your-handle" target="_blank">
            <i class="fab fa-twitter fa-lg"></i> Twitter
        </a>
    </div>
</div>
{% endblock %}
